In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

In [7]:
raw_data = pd.read_csv('real_estate_price_size_year_view.csv')
raw_data

         price     size  year         view
0   234314.144   643.09  2015  No sea view
1   228581.528   656.22  2009  No sea view
2   281626.336   487.29  2018     Sea view
3   401255.608  1504.75  2015  No sea view
4   458674.256  1275.46  2009     Sea view
..         ...      ...   ...          ...
95  252460.400   549.80  2009     Sea view
96  310522.592  1037.44  2009  No sea view
97  383635.568  1504.75  2006  No sea view
98  225145.248   648.29  2015  No sea view
99  274922.856   705.29  2006     Sea view

[100 rows x 4 columns]

In [8]:
raw_data.describe()

               price         size         year
count     100.000000   100.000000   100.000000
mean   292289.470160   853.024200  2012.600000
std     77051.727525   297.941951     4.729021
min    154282.128000   479.750000  2006.000000
25%    234280.148000   643.330000  2009.000000
50%    280590.716000   696.405000  2015.000000
75%    335723.696000  1029.322500  2018.000000
max    500681.128000  1842.510000  2018.000000

In [15]:
data=raw_data.copy()
data['veiw']=data['view'].map({'Sea view':1 ,'No sea view':0})
data

         price     size  year         view  veiw
0   234314.144   643.09  2015  No sea view     0
1   228581.528   656.22  2009  No sea view     0
2   281626.336   487.29  2018     Sea view     1
3   401255.608  1504.75  2015  No sea view     0
4   458674.256  1275.46  2009     Sea view     1
..         ...      ...   ...          ...   ...
95  252460.400   549.80  2009     Sea view     1
96  310522.592  1037.44  2009  No sea view     0
97  383635.568  1504.75  2006  No sea view     0
98  225145.248   648.29  2015  No sea view     0
99  274922.856   705.29  2006     Sea view     1

[100 rows x 5 columns]

In [16]:
y=data['price']
x1=data[['size','year','view']]

In [18]:
x= sm.add_constant(x1)
results = sm.OLS(y,x).fit()
results.summary()

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).